.about-section {
  background-color: #626060;
}
.about-article {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.about-article h3 {
  margin-top: 0;
  margin: 0;
  font-family: "italiana";
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 100;
  color: #e6e7e2;
  border-bottom: 1px solid #e6e7e2;
}

.about-article p {
  width: 80%;
  color: #fff;
  padding: 1rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  margin: 0.5rem auto;
  text-align: justify;
}
