.header-container {
  background-color: #626060;
  height: 5rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.header-desktop-nav {
  display: none;
}

.hero-image--section-containers {
  background: url("../Images/jackie-dogs.png") rgb(255 124 0 / 45%);
  min-height: 90vh;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.header-container section {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: none;
  /* bottom: 12rem;
  background-color: rgba(0, 0, 0, 0.5); */
}
.header-container h1 {
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat, Roboto, sans-serif;
}

.header-container h4 {
  font-weight: 300;
  width: 92%;
  margin: 1rem auto 2rem auto;
}

@media screen and (min-width: 600px) {
  .hero-image--section-containers {
    background-position-y: -10rem;
  }

  .header-container nav {
    width: 100%;
    display: block;
  }

  .header-desktop-nav ol {
    font-family: italiana, roboto, sans-serif;
    list-style: none;
    margin: 0;
    display: flex;
    width: 100%;
    padding-left: 0;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1.75rem;
  }
}
