.header-container {
  background-color: #626060;
}

.header-container ol {
  list-style: none;
  margin-top: 0;
  display: flex;
  width: 100%;
  padding-left: 0;
  justify-content: space-evenly;
}

.hero-image--section-containers {
  background: url("../Images/jackie-dogs.png") rgb(255 124 0 / 45%);
  min-height: 80vh;
  background-size: cover;
  background-blend-mode: multiply;
}

.header-container section {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* bottom: 12rem;
  background-color: rgba(0, 0, 0, 0.5); */
}
.header-container h1 {
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header-container h4 {
  font-weight: 300;
  width: 92%;
  margin: 1rem auto 2rem auto;
}
