.services-article {
  background-color: #84b18b;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.services-article-inner {
  background-color: #e6e7e2;
  width: 75%;
  margin: 0 auto;
}

.services-article h3 {
  margin: 0 auto;
  font-family: italiana;
  font-size: 2.5rem;
  font-weight: 100;
  color: #636a40;
  border-bottom: 1px solid #636a40;
  width: 50%;
}
.services-article ol {
  list-style: none;
  width: 50%;
  margin: 0 auto;
  color: #636a40;
  padding: 1rem;
}

.services-article ol li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
