.services-article {
  background-color: #84b18b;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.services-article-inner {
  background-color: #e6e7e2;
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2rem 0;
}

.services-article h3 {
  margin: 0 auto;
  font-family: "italiana";
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 100;
  color: #636a40;
  width: 70%;
}

.services-divider {
  display: block;
  width: 70%;
  border: 0;
  border-top: 5px solid #636a40;
  margin: 0 auto;
  padding: 0;
}

.services-article ol {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  color: #636a40;
  padding: 1rem;
}

.services-article ol li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.individual-service-divider {
  max-width: 3rem;
  margin: 1rem auto;
}
