.carousel-caption {
  position: unset !important;
}
.testimonials-section {
  background-color: #84b18b;
}

.testimonial {
  width: 100%;
  text-align: center;
  margin: 3rem;
  color: #fff;
}

.testimonial h4 {
  font-family: italiana;
  font-size: 2.5rem;
  font-weight: 100;
  color: #e6e7e2;
  border-bottom: 1px solid #e6e7e2;
  margin: 0;
}

.testimonial blockquote {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem auto;
}
