.carousel-caption {
  position: unset !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
}

.testimonials-section {
  background-color: #84b18b;
}

.testimonial {
  width: 100%;
  text-align: center;
  margin: 3rem;
  color: #fff;
}

.testimonial h4 {
  font-family: italiana;
  font-size: 2.5rem;
  font-weight: 100;
  color: #e6e7e2;
  border-bottom: 1px solid #e6e7e2;
  margin: 0;
}

.carousel-caption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem auto;
  position: unset !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
}

.carousel-caption p {
  font-size: 14px !important;
  font-weight: 400;
}

.carousel-caption h5 {
  font-size: 16px !important;
  font-weight: bold;
}

.testimonial .close-quote {
  position: absolute;
  bottom: 6rem;
  transform: rotate(180deg);
  right: 9rem;
}

.testimonial .open-quote {
  position: absolute;
  top: 6%;
  left: 10rem;
}
