.testimonials-section {
  background-color: #84b18b;
  height: auto;
}

.testimonial {
  /* width: 100%; */
  text-align: center;
  margin: 3rem;
  color: #fff;
}

.testimonial h4 {
  font-family: "italiana";
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 100;
  color: #e6e7e2;
  border-bottom: 1px solid #e6e7e2;
  margin: 0;
}
/* 
.carousel-caption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem auto;
  position: unset !important;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.carousel-caption p {
  font-size: 14px !important;
  font-weight: 400;
  background-color: #e6e7e2;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  color: #626060;
  max-height: 211px;
  height: 211px;
}

.carousel-caption h5 {
  font-size: 1rem !important;
  font-weight: bold;
} */

.single-testimonial {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem auto;
  position: unset !important;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.testimonial-text {
  font-size: 14px !important;
  font-weight: 400;
  background-color: #e6e7e2;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  color: #626060;
  max-height: 211px;
  height: 211px;
}

.testimonial-byline {
  font-size: 1rem !important;
  font-weight: bold;
}

.testimonial .open-quote {
  position: absolute;
  top: 15px;
  left: 0;
  opacity: 0.5;
}

.testimonial .close-quote {
  position: absolute;
  bottom: 45px;
  transform: rotate(180deg);
  right: 0;
  opacity: 0.5;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators {
  margin-bottom: 0 !important;
}

.slider-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.testimonials-section svg {
  font-size: 3rem;
}

@media screen and (min-width: 600px) {
  .testimonials-section {
    height: auto;
  }
}
